nav >ul{
    gap: 1rem;
    display:inline-block;

}
li{
    list-style-type: none;
    display:inline;
    padding: 50px;
    margin: auto;
    
    
}
nav{
   
    
    border: 2px solid black;
    border-radius: 9px;
    position: sticky;
}